.svg_logo {
    margin: 2vh 0vw 1vh!important;
}

.logo {
    -webkit-flex-grow: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
    display: block;
    height: 180px;
    background: url("../img/logo.svg") 0 0 no-repeat;
    background-size: auto 100%;
    background-position: center;
}

.movie-card {
    width: 100%;
    max-width: 100%;
    height: 100%;
    margin: 0;
    border-radius: 0;
}

.box {
    /*display: block;*/
}

.grid .item {
    /*padding: 1px;*/
    padding: 0px;
    cursor: pointer;
    background-image: none!important;
}

.movie-card {
    padding: 0vh 3%;
}

.header {
    margin: 6vh 1.5vw 2vh;
}


.movie-card span {
    border-radius: 2px;
    font-weight: bold;
    margin-bottom: 5px;
    margin-right: 5px;
}

.movie-card p {
    margin-block-start: .3em;
}

.watch {
    cursor: pointer;
}

.modal .close {
    top: -5px;
}

.movie-card p {
    height: auto;
    min-height: 20%;
}

.m_time_set {}
.m_time_set h2 {
    position: relative;
    color: #FFFFFF;
    z-index: 9999;
}

.m_time_set span {
    cursor: pointer;
}

.m_time_set span:hover {
    background-color: rgba(210, 210, 210, 0.2);
}

.prev, .next {
    position: absolute;
    display: none;
    z-index: 999;
    color: #999;
    font-size: 30px;
    cursor: pointer;
    top: 45%;
}

.prev:hover, .next:hover {
    color: #FFFFFF;
}

.prev {
    left: 5px;
}
.next {
    right: 5px;
}

.footer {
    position: relative;
    z-index: 999;
    margin: 0 1%;
    color: #FFFFFF;
}
.footer a {
    text-decoration: none;
    color: #FFFFFF;
}
.footer a:hover {
    color: #1E88E5;
}

.online {
    color: #00c06d!important;
}
.offline {
    color: #ff0052!important;
}

.idBox {
    position: absolute;
    right: 0;
    bottom: 0;
    z-index: 999;
    padding: 5px 10px;
    background-color: #467fcfbd;
    font-weight: bold;
}


.age {
    position: absolute;
    right: 5px;
    bottom: 5px;
    z-index: 999;
}



.ribbon-box {
    position: absolute;
    width: auto;
    right: 0;
    top: 5px;
    background-color: #00c06d;
    padding: 3px 10px;
}

/* ЛЕНТОЧКИ - общие стили для лент */
.corner-ribbon{
    width: 200px;
    background: #e43;
    position: absolute;
    top: 25px;
    left: -50px;
    text-align: center;
    line-height: 50px;
    letter-spacing: 1px;
    color: #f0f0f0;
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
    z-index: 9999;
}
/* фиксируем ленточки */
.corner-ribbon.sticky{
    position: fixed;
}
/* легкая тень */
.corner-ribbon.shadow{
    box-shadow: 0 0 3px rgba(0,0,0,.3);
}
/* позиции лент */
.corner-ribbon.top-left{ /* верхний угол слева */
    top: 25px;
    left: -50px;
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
}
.corner-ribbon.top-right{ /* верхний угол справа */
    top: 25px;
    right: -50px;
    left: auto;
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
}
.corner-ribbon.bottom-left{ /* нижний угол слева */
    top: auto;
    bottom: 25px;
    left: -50px;
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
}
.corner-ribbon.bottom-right{ /* нижний угол справа */
    top: auto;
    right: -50px;
    bottom: 25px;
    left: auto;
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
}
/* выбор цвета лент */
.corner-ribbon.white{background: #f0f0f0; color: #555;}
.corner-ribbon.black{background: #333;}
.corner-ribbon.grey{background: #999;}
.corner-ribbon.blue{background: #39d;}
.corner-ribbon.green{background: #2c7;}
.corner-ribbon.turquoise{background: #1b9;}
.corner-ribbon.purple{background: #95b;}
.corner-ribbon.red{background: #e43;}
.corner-ribbon.orange{background: #e82;}
.corner-ribbon.yellow{background: #ec0;}